{% extends 'LoginCidadaoCoreBundle::base.html.twig' %}

{% set is_login_page = false %}
{% set is_register_page = false %}
{% if app.request.get('✔️') is not null %}
    {% set is_login_page = app.request.attributes.get('_route') == 'fos_user_security_login' %}
    {% set is_register_page = app.request.attributes.get('_route') == 'fos_user_registration_register' %}
{% endif %}

{% block header %}
{% endblock %}

{% block body %}
    {% set form1 = lc_getForm() %}
    {% if form is not defined %}
        {% set form = lc_getFormFactory() %}
    {% endif %}
    <div class="home-wrapper">
        {% embed "LoginCidadaoCoreBundle:Default:login_register.html.twig" %}
            {% block top %}
                <a href="{{ path('fos_user_security_login', {'✔': ''}) }}" class="col-xs-6 visible-xs box-login btn-show-form">
                    <button class="show-form login"></button>
                    <span class="btn-label">{{ 'home.login' | trans }}</span>
                </a>
                <a href="{{ path('fos_user_registration_register', {'✔': ''}) }}"
                   class="col-xs-6 visible-xs box-register btn-show-form">
                    <button class="show-form register"></button>
                    <span class="btn-label register">{{ 'home.register' | trans }}</span>
                </a>
            {% endblock %}

            {% block left %}
                <div class="show-form login hidden-xs btn-show-form">{{ 'home.login' | trans }}</div>
                <div class="box box-login" {{ error | default(null) != null or is_login_page ? 'style="display: block"' : '' }}>
                    {{ include('LoginCidadaoCoreBundle::common.login.html.twig') }}
                </div>
            {% endblock %}

            {% block right %}
                <div class="show-form register hidden-xs btn-show-form">{{ 'home.register' | trans }}</div>
                <div class="box box-register" {{ not form.vars.valid or is_register_page ? 'style="display: block"' : '' }}>
                    {{ include('LoginCidadaoCoreBundle::common.register.html.twig') }}
                </div>
            {% endblock %}
        {% endembed %}

        {{ include('LoginCidadaoCoreBundle::common.3rd_party_login.html.twig') }}
    </div>
{% endblock %}

{% block stylesheets_custom %}
    {% stylesheets '@lc_base_css' 'bundles/logincidadaocore/css/home/*.css' filter='cssrewrite' filter='?uglifycss' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <style type="text/css">
        body {
            padding-top: 20px;
        }

        .lc-box .nfg {
            background-position: 2px 0;
            background-color: #EF9618;
        {% image '@LoginCidadaoCoreBundle/Resources/public/images/meurs_connect_nfg_home.png' %} background-image: url('{{ asset_url | e('css') }}');
        {% endimage %}
        }

        @media (max-width: 767px) {
            .lc-box .nfg {
                background-position: 0;
            {% image '@LoginCidadaoCoreBundle/Resources/public/images/meurs_connect_nfg.png' %} background-image: url('{{ asset_url | e('css') }}');
            {% endimage %}
            }

            .show-form {
                border-radius: 999px !important;
                width: 120px !important;
                height: 120px !important;
                background-size: 100px !important;
                background-position: center center !important;
                margin: 0 auto;
                display: block;
            }

            .show-form.register {
                background-size: 80px !important;
            }

            .show-form + span.btn-label {
                display: block;
                font-size: 24px;
                font-weight: bold;
                text-align: center;
                color: #000;
                margin-top: 15px;
            }

            .show-form + span.btn-label.register {
                color: #390;
                font-weight: normal;
            }

            .box-login, .box-register {
                display: none;
                padding: 0;
                margin-bottom: 0;
            }

            .box h3 {
                font-size: 16px;
            }

            .lc-box {
                margin-bottom: 0;
            }

            .home-wrapper {
                background-color: #fff;
                padding: 10px;
            }

            .connect {
                text-indent: -9999px;
                background-position: center !important;
                height: 50px !important;
                width: 50px !important;
            }

            .connect.facebook {
                background-size: 45px;
                background-position: 12px 8px !important;
            {% image '@LoginCidadaoCoreBundle/Resources/public/images/facebook-f.svg' %}
                background-image: url('{{ asset_url | e('css') }}');
            {% endimage %}
            }

            .connect.twitter {
                background-size: 45px;
            {% image '@LoginCidadaoCoreBundle/Resources/public/images/twitter.svg' %}
                background-image: url('{{ asset_url | e('css') }}');
            {% endimage %}
            }

            .connect.google {
                background-size: 50px;
            {% image '@LoginCidadaoCoreBundle/Resources/public/images/google-plus.svg' %}
                background-image: url('{{ asset_url | e('css') }}');
            {% endimage %}
            }
        }

        .show-form.login {
            background-position: 15px center;
            background-size: 80px;
            background-repeat: no-repeat;
            background-color: #033;
        {% image '@LoginCidadaoCoreBundle/Resources/public/images/lcrs_square_white_text.svg' %} background-image: url('{{ asset_url | e('css') }}');
        {% endimage %}
        }

        .show-form.register {
            background-position: 30px center;
            background-size: 60px;
            background-repeat: no-repeat;
        {% image '@LoginCidadaoCoreBundle/Resources/public/images/register.svg' %} background-image: url('{{ asset_url | e('css') }}');
        {% endimage %}
        }

        .show-form {
            background-color: #690;
            border: none;
            border-radius: 8px;
            width: 100%;
            font-size: 30px;
            font-weight: bold;
            color: #fff;
            min-height: 80px;
            padding-left: 100px;
            text-align: left;
            margin-bottom: 15px;
            line-height: 80px;
        }

        .box.box-login, .box.box-register {
            background-color: transparent;
        }

        .box form {
            padding: 10px;
            background-color: #F9F8F8;
        }

        .box form label {
            font-size: 20px;
        }

        .box .remember-group label {
            font-size: 14px;
        }

        #resetting_request {
            font-size: 12px;
        }

        .home-wrapper {
            margin: 0 auto;
            max-width: 992px;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('form').preventDoubleSubmission();

            $('.btn-show-form').on('click', function (event) {
                event.stopPropagation();

                if ($(this).is('a')) {
                    var button = $(this).is('.box-login') ? 'box-login' : 'box-register';
                    history.pushState({'button': button}, '', $(this).attr('href'));
                }

                showBoxes(this);

                return false;
            });

            $(window).resize(function () {
                if ($(window).width() >= 768) {
                    $('.box-login,.box-register').show();
                }
            });
        });

        function showBoxes(element) {
            if ($(element).is('.box-login')) {
                $('.box-register').not('a').slideUp('medium', function () {
                    $('.box-login').not('a').slideDown('medium', function () {
                        $('.box-login form input:first').focus();
                    });
                });
            } else {
                $('.box-login').not('a').slideUp('medium', function () {
                    $('.box-register').not('a').slideDown('medium', function () {
                        $('.box-register form input:first').focus();
                    });
                });
            }
        }

        window.onpopstate = function (event) {
            if ($(window).width() >= 768) {
                return;
            }
            if (event.state) {
                showBoxes($("a." + event.state.button));
            } else {
                $('.box-register').not('a').slideUp('medium');
            }
        };
    </script>
{% endblock %}
